.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    color: #fff;
}