.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 880px;
    min-height: 74px;
}

@media (max-width: 480px) {
    .header {
        min-height: 56px;
    }
}