.profile__author-and-editbtn {
    display: flex;
    max-width: 60%;
}

@media (max-width: 800px) {
    .profile__author-and-editbtn {
        max-width: 50%;
    }
}

@media (max-width: 700px) {
    .profile__author-and-editbtn {
        max-width: 70%;
        margin-top: 26px;
    }
}

@media (max-width: 480px) {
    .profile__author-and-editbtn {
        width: 100%;
        max-width: 245px;
        margin-top: 26px;
    }
}