.element__caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 21px;
    min-height: 79px;
    margin-block-start: 0;
    margin-block-end: 0;
}