.profile__author-name {
    display: inline;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media (max-width: 700px) {
    .profile__author-name {
        margin-left: calc(10px + 18px);
    }
}

@media (max-width: 480px) {
    .profile__author-name {
        font-size: 27px;
        line-height: 33px;
    }
}