.profile__author-name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 850px) {
    .profile__author-name {
        font-size: calc(100vw * 0.04 + 7.54px);
        line-height: calc(100vw * 0.04 + 13.54px);
    }
}

@media (max-width: 480px) {
    .profile__author-name {
        font-size: 27px;
        line-height: 33px;
    }
}