.elements__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 17px;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

@media (max-width: 700px) {
    .elements__list {
        gap: 20.4px 17px;
    }
}